<div class="p-4 bg-primary-100 common-box-shadow navbar-wrapper">
    <div class="flex justify-between gap-4 items-center">
        <h2 class="m-0 fw-500 text-blue">Dashboard</h2>
        <div class="flex gap-4 items-center">
            <h5 class="m-0 fw-500 cursor-pointer router-link" routerLinkActive="active"  routerLink="/dashboard">BehaviourSubject</h5>
            <h5 class="m-0 fw-500 cursor-pointer router-link" routerLinkActive="active" routerLink="/dashboard-signal">NGRX/Signal</h5>
        </div>
    </div>
</div>
