<form class="flex flex-column gap-4 p-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="flex justify-between gap-4 items-center">
    <h4 class="m-0 fw-500 text-xl">Add User</h4>
  </div>
  <div class="flex flex-column gap-2">
    <label for="name">User's name</label>
    <app-form-field>
      <mat-form-field>
        <input
          appErrorHint
          id="name"
          matInput
          formControlName="name"
          placeholder="Enter name"
          class="filter-input"
          type="text"
        />
      </mat-form-field>
    </app-form-field>
    
  </div>

  <div class="flex flex-column gap-2">
    <label for="email">User's email</label>
    <app-form-field>
      <mat-form-field>
        <input
          appErrorHint
          id="email"
          matInput
          formControlName="email"
          placeholder="Enter email"
          class="filter-input"
          type="text"
        />
      </mat-form-field>
    </app-form-field>
    
  </div>
  <div class="flex flex-column gap-2">
    <label for="role">User's role</label>
    <app-form-field>
      <mat-form-field id="role">
        <mat-select appErrorHint placeholder="Select role" formControlName="role">
          @for (role of roleList; track role) {
          <mat-option [value]="role.id">{{ role.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </app-form-field>
    
  </div>

  <div class="flex gap-4 w-full mt-4">
    <button type="button" class="danger-outline-btn w-50" (click)="matdialogRef.close()">Cancel</button>
    <button type="submit" class="primary-btn w-50">Add</button>
  </div>
</form>
