// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
:root {
  --primary-color: #383838;
  --white: #ffffff;
  --primary-color-100: #ebebeb;
  --blue: #1c4980;
}
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bg-primary {
  background-color: var(--primary-color);
}
.p-4 {
  padding: 1rem;
}
.rounded-4 {
  border-radius: 1rem;
}
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.25rem;
}
.bg-primary-100 {
  background-color: var(--primary-color-100);
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.gap-4 {
  gap: 1rem;
}
.gap-2 {
  gap: 0.5rem;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.grid-dashboard-layout {
  grid-template-columns: repeat(3, 1fr);
  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr) minmax(360px, 1fr);
  }
}
.w-full {
  width: 100%;
}
.w-6 {
  width: 1rem;
}
.w-50 {
  width: 50%;
}
.common-box-shadow {
  box-shadow: 0px 10px 60px 0px rgba($color: #000000, $alpha: 0.1);
}
.m-0 {
  margin: 0;
}
.mt-4 {
  margin-top: 1rem;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.overflow-x-auto {
  overflow-x: auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.mb-4 {
  margin-bottom: 1rem;
}
.fw-500 {
  font-weight: 500;
}
.primary-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #1c4980;
  border-color: rgba($color: #1c4980, $alpha: 0.5);
  font-size: 1rem;
  font-weight: 500;
}
.primary-filter-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #1c4980;
  background-color: rgba($color: #1c4980, $alpha: 0.1);
  border-color: rgba($color: #1c4980, $alpha: 0.5);
  font-size: 1rem;
  font-weight: 500;
}
.filter-input {
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: rgba($color: #1c4980, $alpha: 0.5);

  outline: none;
}
.input-wrapper {
  position: relative;
}
.filter-search-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(calc(-50% - 2px));
}
.text-white {
  color: var(--white);
}
.table-action-btn {
  border: none;
  outline: none;
  border-radius: 0.25rem;
  background-color: rgba($color: #1c4980, $alpha: 0.25);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.danger-outline-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: red;
  background-color: rgba($color: red, $alpha: 0.05);
  border-color: rgba($color: red, $alpha: 0.5);
  font-size: 1rem;
  font-weight: 500;
}
.text-blue {
  color: var(--blue);
}
.cursor-pointer {
  cursor: pointer;
}
.flex-wrap {
  flex-wrap: wrap;
}
